.about {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

    .box__text {
        width: 66%;
        margin: auto;

        .text__title {
            font-size: 1.8em;
            margin-bottom: 5px;
        }

        .text__info {
            font-size: 1em;
            margin-bottom: 10px;
            line-height: 1.5;
        }

        .text__goal {
            font-size: 1.5em;
            margin: 20px 0 10px;
            color: #ffd700;
        }
    }

    .about__certificate {
        display: flex;
        flex-direction: column;
        align-items: center;

        figure {
            width: 66%;

            .certificateImg {
                width: 44vw;
                aspect-ratio: 1.41;
                border-radius: 5px;
                margin-top: 30px;
            }

            figcaption {
                font-size: 0.8em;
            }
        }
    }
}

@media (width < 800px) {
    .box__text {
        margin-top: 70px !important;
        .text__title {
            font-size: 1.2em !important;
        }

        .text__info {
            font-size: 0.9em !important;
            margin-bottom: 10px !important;
        }

        .text__goal {
            font-size: 1em !important;
            margin: 0 !important;
        }
    }
}