.about {
    display: flex;
    align-items: center;
    flex-direction: column;

    .about__box {
        width: 60%;
        position: relative;
        top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        h2,
        h3,
        h4,
        h5 {
            text-align: center;
        }
    }

    figure{
        position: relative;
        top: 70px;
        img{
            width: 550px;
        }
        figcaption{
            position: absolute;
            bottom: -20px;
            font-family: cursive;
        }
    }
}