.back {
    background-color: black;
    width: 80px;
    height: 30px;
    border: 1px solid rgba(0, 255, 255, 0.212);
    border-radius: 3px;
    position: absolute;
    top: 80px;
    left: 30px;
    font-weight: 700;
    z-index: 1;

    &:hover {
        box-shadow: 3px 3px 5px 0.1px rgba(0, 255, 255, 0.198);
    }

    &:active {
        box-shadow: 0px 0px 5px 0.1px rgba(0, 255, 255, 0.387);
        transform: scale(0.99);
    }
}

@media (width < 600px) {
    .back{
        width: 60px !important;
        height: 25px !important;
        font-size: 10px;
        top: 70px !important;
    }
}