* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  color: white;
}

::-webkit-scrollbar {
  width: 2px; 
}

::-webkit-scrollbar-track {
  background-color: #020000;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffa6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00ffa6;
}

// * {
//   scrollbar-width: thin; 
//   scrollbar-color: #00ffa6 #000000; 
// }

body {
  display: grid;
  place-items: center;
  background-color: rgb(10, 14, 20);
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: 0px 0px 1px aqua !important;

    &:hover {
      text-shadow: 0px 0px 10px aqua !important;
    }
  }

  button {
    cursor: pointer;
    user-select: none;
    overflow-x: hidden;
  }

  li {
    user-select: none;
  }

  select {
    cursor: pointer;
  }

  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer;
  }
}